* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.paper-rock-scissors {
	width: 100%;
	height: 100vh;
	background-image: url(../assets/rock-paper-scissors.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}